<!doctype html>
<head>
<title>Brian's e-mail Server</title>
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
</head>
<body>
  <h1>Welcome to Brian's e-mail server</h1>
  <img src="/static/billTed.jpg" />
<form id='form' method='post' >
<p>User ID:   <input type='text' name='userid' /> </p>
<p>Password: <input type='password' name='password' /> </p>
<input type='submit' name='submit' value='submit'>
</form>
<h4><a href='\newUser'>New User</a></h4>
</body>
</html>
