<!doctype html>
<head>
<title>Profile</title>
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
</head>
<body>
<h1>Welcome {{userid}} !</h1>
<img src="/static/box.png"/>
<h3>What's in the (in)box?</h3>
<ul>
<li class='navlist'><a href='\inbox'>Inbox</a></li> &nbsp; | &nbsp; 
<li class='navlist'><a href='\outbox'>Sent Mail</a></li>&nbsp; | &nbsp;  
<li class='navlist'><a href='\send'>Send Message</a></li>
</ul>
</body>
</html>
