<!doctype html>
<head>
<title>View Email</title>
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
</head>
<body>
  <p>Email ID: {{emailId}} <br /> Content: {{text}}</p>
</body>
</html>
