<!doctype html>
<head>
<title>Send e-Mail</title>
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
</head>
<body>
<h3>Send an email to a user in our system:</h3>
<ul>
<li class='navlist'><a href='\inbox'>Inbox</a></li> &nbsp; | &nbsp; 
<li class='navlist'><a href='\outbox'>Sent Mail</a></li>&nbsp; | &nbsp;  
<li class='navlist'><a href='\send'>Send Message</a></li>
</ul>
<form id='form1' method=post action='send'>
<p>Recipiant: <select name="userlist">
	{% for user in users %}
		<option value={{user.userid}}> {{user.userid}} </option>
	{% endfor %}
</select>
</p>
<br /><textarea name='body' rows='10' cols='50'>Enter text for email here...</textarea>
<br /><input type='submit' id='sendMail' name='sendMail' action='send' value='Send E-Mail' />
</form>      <br>                                                                                   <h3><a href='\logout'>Logout</a></h3>                                   
</body>
</html>
