body	{font-family: Arial, Centaur, "Century Gothic";

	 font-size: 14pt;
	 background-color: #6dad80; color:#ffffff}
		
p		{margin-left: 5pt;
		margin-right: 5pt;}
		
table   {margin: auto;}

footer {text-align: center}

ul {list-style-type: circle; text-align: center;}

/*default align: center */
div {margin: auto}

/*font and color of bold text*/
.boldword	{color: #FFFFFF; 
			font-weight: bolder;}
.emailRead      {text-align: left}

/*no colored border to images*/
img		{border-color: transparent;}

/*keep menu on one line without bullet points */
li.navlist	{display: inline; 
			list-style-type: none;}

/*colors for links and hovering over links */
a			{text-decoration: none;
			color: #FFFFFF;}
		
a:hover		{background: #FFFFFF; 
			color: #0e7f26;}