<!doctype html>
<head>
<title>Inbox</title>
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
</head>
<body>
<h1>Welcome {{userid}} to your inbox!</h1>
<img src="/static/box.png"/>
<h3>What's in the (in)box?</h3>
<ul>
<li class='navlist'><a href='\inbox'>Inbox</a></li> &nbsp; | &nbsp; 
<li class='navlist'><a href='\outbox'>Sent Mail</a></li>&nbsp; | &nbsp;  
<li class='navlist'><a href='\send'>Send Message</a></li>
</ul>
<form id='form1' method='post' action='inbox'>
<ul>
   {% for email in emails %}
      <input type='radio' name='emailSelect' value={{email.emailId}}>Email ID {{email.emailId}}: {{email.text}} <br /><br />
   {% endfor %}
</ul>
<br />
<input type='submit' id='view' name='view' action='inbox' value='View' />
<input type='submit' id='delete' name='delete' action='inbox' value='Delete' />
</form>
<h3><a href='\logout'>Logout</a></h3>
</body>
</html>
