<!doctype html>
<head>
<title>New User</title>
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
</head>
<body>
  <h1>Create a New User</h1>
<form id='form' method='post' >
<p>User ID:   <input type='text' name='userid' /> </p>
<p>Password: <input type='password' name='password' /> </p>
<input type='submit' name='newUser' id='newUser' value='New User'>
</form>
<h3><a href='\login'>Back to Login</a></h3>
</body>
</html>
